*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    font-family: Poppins;
}
.FirstMainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(blue,darkblue) ;
    height: 70rem;
    gap: 2rem;
}
.FirstTxt{
    font-size: 4rem;
    color: #ffffff;
    font-weight: bolder;
    line-height: 4rem;
}
.secondTxt{
    color: #ffffff;
    line-height: 2.5rem;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
.Rupees{
    font-size: 2rem;
    color: yellow;
    margin-top: 1.5rem;
}
.SaveSeat{
    width: 40rem;
    height: 4.5rem;
    margin-top:2.7rem;
    color: rgb(68, 66, 66);
    border: 1px solid black;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, yellow,blue);
    cursor: pointer;
}
.VedioFrame{
    border: 5px solid #ffffff; 
    width: 40rem;
    height: 23rem;
}
.SaveSeat:hover{
    color: #000000;
    background-image: linear-gradient(to left, blue,yellow);

}
.videoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Coundown{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 1.5rem;
}
.Time{
    width: 7rem;
    height: 7rem;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    font-size: 2.5rem;
    font-weight: 700;
    font-weight: bolder;
}
.SetTime{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 1.2rem;
    gap: 5.5rem;

}
.footLast{
    margin-top: 2rem;
    color: yellow;
    margin-right: 10rem;
    font-size: 1.3rem;
}

@media (min-width:200px) and (max-width:349px){}

@media (min-width:349px) and (max-width:499px){}

@media (min-width:499px) and (max-width:769px){}

@media (min-width:769px) and (max-width:1023px){}

@media (min-width:1023px) and (max-width:1350px){}


